/bin/
/target/
.classpath
.project
.settings/
.vscode/
*.properties
!src/main/resources/**/*.properties
!.mvn/wrapper/maven-wrapper.properties
/Chime.wav
/nbproject/
/logs/
dependency-reduced-pom.xml
/.claude/
